<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1010746138425-pp8a9gte3v7fn1bvfoj35a1ff4oldotk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010746138425-pp8a9gte3v7fn1bvfoj35a1ff4oldotk</string>
	<key>API_KEY</key>
	<string>AIzaSyCar2D1jVttUljvNYWZdyqJVSNeq6YI3w8</string>
	<key>GCM_SENDER_ID</key>
	<string>1010746138425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nihilent.RoomDecoratorMyApp</string>
	<key>PROJECT_ID</key>
	<string>roomdecoratormyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>roomdecoratormyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010746138425:ios:9ab2eb55040c0d75</string>
	<key>DATABASE_URL</key>
	<string>https://roomdecoratormyapp.firebaseio.com</string>
</dict>
</plist>